node_modules/
test/
tests/
__tests__/
.env
.editorconfig
.eslintignore
.eslintrc
docs/
doc/
README.md
CHANGELOG.md
CONTRIBUTING.md
webpack.config.js
rollup.config.js
babel.config.js
examples/
demo/
.git
.gitignore
Dockerfile
Makefile
.travis.yml
appveyor.yml
.npmrc
src/
icons/
